{% extends 'base.html' %}

{% block content %}
    <br><br>
    <h1 style="color:white; text-align:center">{% block title %}Welcome to Vibe{% endblock %}</h1>
    <form method="POST" action="{{ url_for('process_text') }}">
        <div style="width: 45%; height: 40%; background-color: rgba(0,0,0,.5); margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; border-radius: 25px" class="form-control">
            <label for="singer_name" style="color:white;">Enter Singer's Name:</label>
            <input type="text" class="form-control" id="singer_name" name="singer_name" placeholder="Enter singer's name">
            <label for="song_name" style="color:white;">Enter Song Name:</label>
            <input type="text" class="form-control" id="song_name" name="song_name" placeholder="Enter song name">
            <p></p>
            
            <div id="lyric_input_section" style="display: none;">
                <label for="text_input" style="color:white;">Option to enter lyrics (optional):</label>
                <input type="text" class="form-control" id="text_input" name="user_input" placeholder="Enter text here">
            </div>
            <button type="button" id="show_lyric_input_button" class="btn btn-primary">Enter Lyrics (optional)</button>
            <button type="submit" style="display: none;" id="submit_button" class="btn btn-primary">Submit</button>
        </div>
    </form>
    
    <script>
        document.getElementById("show_lyric_input_button").addEventListener("click", function() {
            document.getElementById("lyric_input_section").style.display = "block";
            document.getElementById("submit_button").style.display = "block";
            document.getElementById("show_lyric_input_button").style.display = "none";
        });
    </script>
{% endblock %}
