h1 {
    border: 2px #eee solid;
    color: white;
    text-align: center;
    padding: 10px;
}

body {
    background-image: url("{{ url_for('static', filename='fond.jpg') }}");
    background-size: cover;
  }